<div class="mainDiv">
  <div class="mainDiv1">
    <div *ngFor="let button of leftNavbuttons">
      <div>
        <button routerLink={{button.path}} class="navBtns">{{button.label}}</button>
      </div>
    </div>
  </div>
  <div class="mainDiv2">
    <div *ngFor="let button of rightNavbuttons">
      <div>
        <button routerLink={{button.path}} class="navBtns">{{button.label}}<span *ngIf="button.label==='Cart' && addedCarts>0">   {{addedCarts}} added</span></button>
      </div>
    </div>
  </div>
</div>
<router-outlet></router-outlet>
